.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  input {
    height: 28px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
  }

  button {
    margin-left: 10px;
    color: rgb(47, 45, 45);
  }

  .date {
    margin-right: 30px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(53, 51, 51, 0.916);
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;

    .date {
      margin-right: 20px;
      margin-top: 10px;
      font-size: 12px;
      text-align: center;
    }
  }
}
