.nav {
  & a {
    margin: 0;
    padding: 0;
    margin-right: 20px;
  }
}

.defaultLink {
  color: white;
  font-weight: 400;

  &:hover {
    color: white;
  }
}

.activeLink {
  color: red;
  font-weight: 800;

  &:hover {
    color: red;
  }
}
