.listOfEventsWindowOpen,
.listOfEvents {
  padding-left: 0px;
  margin-top: 0px;
  list-style: none;
  display: inline-block;

  li {
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 250px;
    height: 35px;
    position: relative;
  }
}

@media screen and (max-width: 400px) {
  .listOfEventsWindowOpen,
  .listOfEvents {
    li {
      width: unset;
    }
  }
}

.listOfEventsWindowOpen {
  margin-right: 10px;

  li {
    border-radius: 10px;
    padding-left: 10px;
    box-shadow: 0 0 10px 1px rgba(129, 127, 127, 0.53);
    margin-bottom: 15px;
    margin: 15px;
    padding: 5px;
  }
}

.listWrapper {
  display: flex;
  justify-content: space-between;
}

.borderOfList {
  border-radius: 10px;
  background-color: rgba(108, 114, 111, 0.303);
  box-shadow: 5px 3px 15px 3px rgba(129, 127, 127, 0.53);
}

.toDoStatus {
  border: 3px solid rgba(0, 128, 0, 0.536);
  li {
    border: 3px solid rgba(0, 128, 0, 0.264);
    background-color: rgba(34, 139, 34, 0.295);
  }
}

.processingStatus {
  border: 3px solid rgba(26, 128, 206, 0.536);
  li {
    border: 3px solid rgba(26, 128, 206, 0.436);
    background-color: rgba(26, 128, 206, 0.236);
  }
}

.doneStatus {
  border: 3px solid rgba(77, 80, 82, 0.536);

  li {
    border: 3px solid rgba(77, 80, 82, 0.218);
  }
}

@media screen and (max-width: 767px) {
  .listWrapper {
    flex-direction: column;
  }
}
